main {
  height: 100vh;
  border: 3px solid green;
  width: 100%;
}

.hero-section {
  width: 100%;
}

.hero-section h1 {
  text-align: center;
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #2c94cc;
  font-weight: skinny;
}

.hero-section p {
  text-align: center;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #2c94cc;
  font-weight: skinny;
}

.hero-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border: 3px solid red;
  height: 300px;
  width: 26.5rem;
}

/* NEED TO FIX THIS IMAGE SIZING AS WELL IT IS NOT EXACTLY THE ENTIRE WIDTH WITHOUT HAVING TO ADJUST MANUALLY WITH THE REMS AND THAT IS NOT BEST PRACTICE */


.solution-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.problem-text h2,
p {
  text-align: center;
}

.solution-text h2,
p {
  text-align: center;
}