/* CONTAINER STYLING */
nav {
    border: solid red 1px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;

}

/* LOGO STYLING */
.nav-logo {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




/* FORM STYLING */
.nav-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.3rem;
}

.nav-search label {
    margin-right: .5rem;
}

.nav-search input {
    border-radius: 5px;
    border: solid 1px #ccc;
    margin-right: .5rem;
}

form button {
    border-radius: 5px;
    border: solid 1px #ccc;
}

form button:hover {
    background-color: lightblue;
}

/* NAV ITEMS STYLING */