/* CONTAINER STYLING */
nav {
    border: solid red 1px;

    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    height: 3rem;
    padding: 0 1rem;
}

/* LOGO STYLING */
.nav-logo {
    /* margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    flex: 1;
    display: flex;
    justify-content: flex-start;
}




/* FORM STYLING */

.nav-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    padding: 1rem;
    flex-grow: 2;
}

.nav-search input,
.nav-search button {
    padding: 0.5rem;
    border-radius: 5px;
    border: solid 1px #ccc;
    margin-right: .5rem;
}

/* .nav-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.3rem;
}


.nav-search input {
    border-radius: 5px;
    border: solid 1px #ccc;
    margin-right: .5rem;
}

form button {
    border-radius: 5px;
    border: solid 1px #ccc;
} */

form button:hover {
    background-color: lightblue;
}

/* NAV ITEMS STYLING */

.nav-items {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.nav-items button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-items button:hover {
    color: lightblue;
}