section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CONTACT HEADER STYLES */
.contact-header {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.contact-title {
    color: #2c94cc;
    font-family: bakersville;
    font-size: 2rem;
    text-decoration: none;
}


form {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 90%;
}

input {
    margin: 1rem;
    padding: 1rem;
    width: 85%;
    border: 1px solid lightgray;
}

input::placeholder {
    color: lightgray;
}

input:focus {
    outline: none;
    border: 1px solid #2c94cc;
}

.button {
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    border: 1px solid #2c94cc;
    background-color: white;
    color: #2c94cc;
    cursor: pointer;
    border-radius: 15rem;
}