section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* CONTACT HEADER STYLES */
.contact-header {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border: solid 1px #000;

}


form {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.contact-header,
form {
    height: 15rem;
}