.hero-section {
    width: 100%;
    background-image: url("../../assets/winner.png");
    background: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.hero-section h1 {
    position: absolute;
    top: 10%;
    text-align: center;
    font-family: bakersville;
    color: #2c94cc;
    font-size: 4rem;
    font-weight: 500;
}