.hero-section {
    width: 100%;
    background-image: url("../../assets/prosphero.jpeg");
    background: cover;
    background-position: center;
    height: 56vh;

}

.hero-section h1 {
    text-align: center;
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #2c94cc;
    font-weight: skinny;
}

.hero-section p {
    text-align: center;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #2c94cc;
    font-weight: skinny;
}