.solution-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.problem-text,
.solution-text {
    flex: 1;
}


.problem-text h2,
p {
    text-align: center;
    color: #2c94cc;

}

.solution-text h2,
p {
    text-align: center;
    color: #2c94cc;
}

h2 {
    text-decoration: underline;
}