.solution-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.problem-text,
.solution-text {
    flex: 1;
}


.problem-text h2,
p {
    text-align: center;
}

.solution-text h2,
p {
    text-align: center;
}